@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;600;700&display=swap');

body {
  font-family: Lato, sans-serif;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 7px;
  background-image: url('images/loading.gif');
  background-position: center;
  z-index: 9;
}

.loader__overlay {
  height: 100vh;
  background: rgba(0, 0, 0, 0.1);
}

#bubblemaps {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

#d3Svg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

#rSvg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

#d3Canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.left-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 360px;
  height: 100vh;
  z-index: 2;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 4px 2px 25px rgba(0, 0, 0, 0.1);
}

.page-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  padding: 24px;
}

.section__title {
  padding: 12px 24px;
  color: #666;
  background-color: rgba(136, 158, 136, 0.1);
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
}

.section__content {
  padding: 16px 24px;
}

/* data fields */
.data__field {
  /* margin-bottom: 16px; */
}

.data__field .field__label {
  font-size: 12px;
  line-height: 14px;
  color: #889E88;
}

.data__field .field__value {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #666666;
}

/* timeline */
.section--period .section__content {
  padding: 24px;
}

.timeline__month {
  fill: #27ae60;
}

.timeline__month:hover,
.timeline__month--selected {
  fill: #e67e22;
}

.timeline__tooltip {
  position: absolute;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 4px;
  font-size: 12px;
  width: 100px;
  z-index: 5;
  color: #889e88;
}

.timeline__detail {
  z-index: 2;
}

/* period summary */
.period__summary .data__field {
  display: inline-block;
}

.period__summary .data__field--period-total,
.period__summary .data__field--period-time {
  width: 49%;
}

.period__summary .data__field--most-violation {
  width: 100%;
  margin: 16px 0;
}

/* reason list */
.section--reasons .section__content {
  padding: 16px 0;
}

.reason__button-wrap {
  text-align: right;
  margin: -46px 24px 20px 0;
}

.reason__button {
  outline: none;
  border: none;
  background: transparent;
  font-size: 12px;
  color: #889e88;
  cursor: pointer;
  padding: 0;
}

.reason__button:not(:last-child):after {
  content: '|';
  margin: 0 8px;
  color: #8fa799;
}

.reason__button:hover {
  color: #2ecc71;
}

.reason__button--active {
  color: #26ae60
}

.reason__list {
  list-style: none;
  padding: 0 24px;
  height: calc(100vh - 454px);
  overflow-y: auto;
}

.reason__item {
  font-size: 12px;
  line-height: 14px;
  padding: 8px 0;
  border-bottom: 1px solid rgba(136, 158, 136, 0.5);
  display: grid;
  grid-template-columns: 24px 64px 1fr 36px;
  align-items: baseline;
  color: #8fa799;
}

.reason__id .id__color {
  width: 12px;
  height: 12px;
  display: inline-block;
  border-radius: 50%;
  vertical-align: top;
  margin-right: 2px;
}

.reason__label {
  color: #666;
}

.reason__count {
  text-align: right;
}

/* right sidebar */
.right-sidebar {
  position: fixed;
  top: 8px;
  right: 12px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: -4px 2px 25px rgba(0, 0, 0, 0.1);
  width: 360px;
  height: 48px;
  display: flex;
  align-items: center;
}

.right-sidebar .controls {
  padding: 0 24px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.control__button {
  border: none;
  background: transparent;
  color: #26ae60;
  font-size: 13px;
  outline: none;
  border: 1px solid #26ae60;
  border-radius: 2px;
  padding: 4px 16px;
  cursor: pointer;
}

.control__button:hover,
.control__button--active {
  background-color: #26ae60;
  color: #fff;
}

.button__illustration {
  font-size: 20px;
  vertical-align: middle;
  margin-right: 4px;
}

.button__text {
  display: inline-block;
  transform: translateY(2px);
  font-weight: 500;
}

.control__button .button__illustration--on {
  display: none;
}
.control__button.control__button--active .button__illustration--on {
  display: inline-block;
}

.control__button .button__illustration--off {
  display: inline-block;
}
.control__button.control__button--active .button__illustration--off {
  display: none;
}

.section--explorer-help {
  position: fixed;
  top: 58px;
  right: 12px;
  opacity: 0;
  font-size: 12px;
  box-shadow: -4px 2px 25px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.4);
  width: 360px;
  color: #8fa799;
  transition: 0.25s ease-in-out;
}

#locationInfo {
  position: fixed;
  top: 64px;
  right: -500px;
  z-index: 9;
  width: 360px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: -4px 2px 25px rgba(0, 0, 0, 0.1);
  height: 50%;
  transition: 0.25s ease-in-out;
}

.info__close {
  position: absolute;
  top: 6px;
  right: 18px;
  cursor: pointer;
}

.info__summary .data__field {
  display: inline-block;
  width: 49%;
  vertical-align: top;
}

.info__summary .data__field--address {
  width: 59%;
}

.info__summary .data__field--count {
  width: 39%;
}

.info__summary.info__summary--area .data__field {
  width: 32%;
}

.section--location-reasons .section__content {
  height: 315px;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
}

.section--location-reasons:after {
  content: ' ';
  width: 100%;
  height: 64px;
  background: linear-gradient(to bottom, transparent, #fff);
  position: absolute;
  bottom: 0;
}

/* explorer */
#eSvg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
}