@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;600;700&display=swap');

html {
  overflow: hidden;
}

body {
  font-family: Lato, sans-serif;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 7px;
  background-image: url('images/loading.gif');
  background-position: center;
  z-index: 9;
}

.loader__overlay {
  height: 100vh;
  background: rgba(0, 0, 0, 0.1);
}

#bubblemaps {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

#d3Svg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

#rSvg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

#d3Canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.left-sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 360px;
  height: 100vh;
  z-index: 2;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 4px 2px 25px rgba(0, 0, 0, 0.1);
  transition: 0.25s ease-in-out;
}

.left-sidebar--off {
  left: -300px;
}

.page-title {
  color: #666;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  padding: 24px;
  position: relative;
}

.title__guide-button {
  cursor: pointer;
  color: #666;
}

.sidebar__visibility-control {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  font-size: 24px;
  line-height: 24px;
  cursor: pointer
}

.left-sidebar .visibility__icon--on {
  display: none;
}
.left-sidebar .visibility__icon--off {
  display: inline-block;
}

.left-sidebar--off .visibility__icon--on {
  display: inline-block;
}
.left-sidebar--off .visibility__icon--off {
  display: none;
}

.section {
  margin-bottom: 8px;
  position: relative;
}

.section__title {
  padding: 12px 24px;
  color: #666;
  background-color: rgba(136, 158, 136, 0.1);
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  position: relative;
}

.section__visibility-control {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  font-size: 24px;
  line-height: 24px;
  cursor: pointer
}

.section .visibility__icon--on {
  display: none;
}
.section .visibility__icon--off {
  display: inline-block;
}

.section--off .visibility__icon--on {
  display: inline-block;
}
.section--off .visibility__icon--off {
  display: none;
}

.section--off .section__content {
  display: none;
}

.section__content {
  padding: 16px 24px;
}

/* data fields */
.data__field {
  /* margin-bottom: 16px; */
}

.data__field .field__label {
  font-size: 12px;
  line-height: 14px;
  color: #889E88;
}

.data__field .field__value {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #666666;
}

/* timeline */
.section--period .section__content {
  padding: 24px;
}

.timeline__month {
  fill-opacity: 0.5;
}

.timeline__month:hover,
.timeline__month--selected {
  fill-opacity: 1;
}

.timeline__tooltip {
  position: absolute;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 4px;
  font-size: 12px;
  width: 100px;
  z-index: 5;
  color: #889e88;
}

.timeline__detail {
  z-index: 2;
}

/* period summary */
.period__summary {
  margin-top: 24px;
  padding: 0 8px;
}

.period__summary .data__field {
  display: inline-block;
}

.period__summary .data__field--period-time {
  width: 59%;
}

.period__summary .data__field--period-total {
  width: 39%;
}

.period__summary .data__field--most-violation {
  width: 100%;
  margin: 16px 0;
}

/* reason list */
.section--reasons .section__content {
  padding: 16px 0;
}

.reason__button-wrap {
  position: absolute;
  right: 24px;
  top: 8px;
  z-index: 2;
}

.reason__button {
  outline: none;
  border: none;
  background: transparent;
  font-size: 12px;
  color: #889e88;
  cursor: pointer;
  padding: 0;
}

.reason__button:not(:last-child):after {
  content: '|';
  margin: 0 8px;
  color: #8fa799;
}

.reason__button:hover {
  color: #2ecc71;
}

.reason__button--active {
  color: #26ae60
}

.reason__list {
  list-style: none;
  padding: 0 24px;
  /* height: calc(100vh - 454px); */
  overflow-y: auto;
}

.reason__item {
  font-size: 12px;
  line-height: 14px;
  padding: 8px 0;
  border-bottom: 1px solid rgba(136, 158, 136, 0.5);
  display: grid;
  grid-template-columns: 24px 64px 1fr 36px;
  align-items: baseline;
  color: #8fa799;
}

.reason__id {
  display: grid;
  grid-template-columns: 16px 1fr;
}

.reason__id .id__color {
  width: 12px;
  height: 12px;
  display: inline-block;
  border-radius: 50%;
  vertical-align: top;
  margin-right: 2px;
}

.reason__label {
  color: #666;
}

.reason__count {
  text-align: right;
}

/* right sidebar */
.right-sidebar {
  position: fixed;
  top: 16px;
  right: 12px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: -4px 2px 25px rgba(0, 0, 0, 0.1);
  width: 360px;
  height: 48px;
  display: flex;
  align-items: center;
}

.right-sidebar .controls {
  padding: 0 24px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.control__button {
  border: none;
  background: transparent;
  color: #26ae60;
  font-size: 13px;
  outline: none;
  border: 1px solid #26ae60;
  border-radius: 2px;
  padding: 4px 16px;
  cursor: pointer;
}

.control__button:hover,
.control__button--active {
  background-color: #26ae60;
  color: #fff;
}

.button__illustration {
  font-size: 20px;
  vertical-align: middle;
  margin-right: 4px;
}

.button__text {
  display: inline-block;
  transform: translateY(2px);
  font-weight: 500;
}

.control__button .button__illustration--on {
  display: none;
}
.control__button.control__button--active .button__illustration--on {
  display: inline-block;
}

.control__button .button__illustration--off {
  display: inline-block;
}
.control__button.control__button--active .button__illustration--off {
  display: none;
}

.control__button--lang .button__text .text__lang {
  display: inline-block;
  width: 20px;
}

.section--explorer-help {
  position: fixed;
  top: 66px;
  right: 12px;
  opacity: 0;
  font-size: 12px;
  box-shadow: -4px 2px 25px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.8);
  width: 360px;
  color: #8fa799;
  transition: 0.25s ease-in-out;
}

#locationInfo {
  position: fixed;
  top: 66px;
  right: -500px;
  z-index: 9;
  width: 360px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: -4px 2px 25px rgba(0, 0, 0, 0.1);
  height: 50%;
  min-height: 500px;
  transition: 0.25s ease-in-out;
}

.info__close {
  position: absolute;
  top: 8px;
  right: 18px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  z-index: 2;
}

.info__summary .data__field {
  display: inline-block;
  width: 49%;
  vertical-align: top;
}

.info__summary .data__field--address {
  width: 59%;
}

.info__summary .data__field--count {
  width: 39%;
}

.info__summary.info__summary--area .data__field {
  width: 32%;
}

.section--location-reasons .section__content {
  height: 315px;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
}

.section--location-reasons:after {
  content: ' ';
  width: 100%;
  height: 64px;
  background: linear-gradient(to bottom, transparent, #fff);
  position: absolute;
  bottom: 0;
}

/* explorer */
#eSvg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
}

/* group legend */
.group-legend__trigger {
  display: inline;
  color: #27ae60;
  font-size: 16px;
  vertical-align: middle;
  margin-left: 4px;
  cursor: pointer;
  transition: 0.25s ease-in-out;
}

.group-legend__trigger:hover {
  color: #2ecc71;
}

.group-legend {
  position: absolute;
  top: 16px;
  right: -102%;
  width: 360px;
  background: rgba(255,255,255, 0.8);
  box-shadow: 4px 2px 25px rgba(0, 0, 0, 0.1);
  transition: 0.25s ease-in-out;
}

.group-legend.group-legend--off {
  top: -500px;
}

.group__header {
  font-size: 11px;
  font-weight: 500;
  margin-bottom: 8px;
}

.group__list {
  padding: 0;
  list-style: none;
  font-size: 10px;
}

.group__item {
  display: grid;
  grid-template-columns: 12px 1fr 80px;
  grid-column-gap: 8px;
  margin-bottom: 8px;
  color: #666;
}

.group__color {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-top: 2px;
}

.group__ids {
  color: #8fa799;
}

/* intro */
body.show-intro .left-sidebar,
body.show-intro .right-sidebar {
  position: absolute;
  overflow-y: hidden;
}

body.show-intro #bubblemaps {
  z-index: -1;
}

.body.show-intro .content * {
  pointer-events: none!important;
}

div#driver-popover-item .driver-popover-title {
  font-family: Lato;
  color: #666;
  font-size: 14px;
  line-height: 140%;
}

div#driver-popover-item .driver-popover-description {
  font-family: Lato;
  color: #666;
  font-size: 12px;
  line-height: 140%;
}

div#driver-popover-item .driver-popover-footer button {
  font-family: Lato;
  font-size: 11px;
  background: none;
  border: 1px solid #26ae60;
  color: #26ae60;
}

div#driver-popover-item .driver-popover-footer button.driver-prev-btn.driver-disabled {
  color: #889e88;
  border: 1px solid #8a9f8a!important;
}

div#driver-popover-item .driver-popover-footer {
  margin-top: 24px;
}
